@media (max-width: 650px) {
    .heroCont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 100vw;
    }

    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .overlayCont {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        height: auto;
        width: 80vw;
        max-width: 766px;
        margin-top: 60px;
        padding: 30px;
        z-index: 10;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .overlayCont h1 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: var(--header-sm-font);
        font-weight: 700;
        z-index: 20;
    }

    .overlayCont h2 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: var(--body-md-font);
        font-weight: 600;
        z-index: 20;
        text-align: center;
    }

    .heroSmButton {
        font-family: Rufina, serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 20px;
        text-align: center;
        padding: 10px 20px;
        border: 2px solid #684296;
        border-radius: 10px;
        background: #684296;
        cursor: pointer;
        align-self: center;
        transition-duration: 0.5s;
    }
}
@media (min-width: 650px) and (max-width: 850px) {
    .heroCont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 100vw;
    }

    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .overlayCont {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: auto;
        width: 60vw;
        max-width: 766px;
        margin-top: 60px;
        padding: 30px;
        z-index: 10;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .overlayCont h1 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: var(--header-md-font);
        font-weight: 700;
        z-index: 20;
    }

    .overlayCont h2 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: 24px;
        font-weight: 600;
        z-index: 20;
        text-align: center;
    }

    .heroSmButton {
        font-family: Rufina, serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 20px;
        text-align: center;
        padding: 10px 20px;
        border: 2px solid #684296;
        border-radius: 10px;
        background: #684296;
        cursor: pointer;
        align-self: center;
        transition-duration: 0.5s;
    }
}
@media (min-width: 850px) {
    .heroCont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 550px;
        width: 100vw;
    }

    .overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .overlayCont {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: auto;
        width: 40vw;
        min-width: 450px;
        max-width: 766px;
        margin-top: 60px;
        padding: 30px;
        z-index: 10;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .overlayCont h1 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: var(--header-md-font);
        font-weight: 700;
        z-index: 20;
    }

    .overlayCont h2 {
        color: var(--dark-font);
        font-family: var(--header-font);
        font-size: 24px;
        font-weight: 600;
        z-index: 20;
        text-align: center;
    }

    .heroSmButton {
        font-family: Rufina, serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 20px;
        text-align: center;
        padding: 10px 20px;
        border: 2px solid #684296;
        border-radius: 10px;
        background: #684296;
        cursor: pointer;
        align-self: center;
        transition-duration: 0.5s;
    }
}