@media (min-width: 640px){
    .parallax{
        left: 0;
        width: 100vw;
        height: 1000px;
        overflow: hidden;
        position: relative;
        display: grid;
        place-items: center;
        z-index: 1;
    }
}

@media (min-width: 1050px){
    .parallax{
        left: 0;
        width: 100vw;
        height: 1000px;
        overflow: hidden;
        position: relative;
        display: grid;
        place-items: center;
        z-index: 1;
    }
}
