@media (min-width: 850px) {
    .page {
        overflow: hidden;
    }

    .navCont {
        z-index: 1000;
    }

    .aboutHeadSpacer {
        height: 100px;
        width: 100vw;
    }

    .aboutOneCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: auto;
    }

    .aboutOneLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 55vw;
        height: calc(100vh - 100px);
        gap: 20px;
        padding: 5%;
        text-align: start;
        background: linear-gradient(to bottom, #ffffff, #ABDFF0);
    }

    .aboutOneLeft h1 {
        font-family: var(--header-font);
        font-size: var(--header-lg-font);
        width: 100%;
    }

    .aboutOneLeft p {
        font-family: var(--body-font);
        font-size: clamp(var(--body-xsm-font),1.5vw, var(--header-sub-font));
        width: 100%;
    }

    .aboutOneRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 45vw;
        height: calc(100vh - 100px);
        text-align: center;
        color: white;
        background-color: var(--dark-bg);
        padding: 5%;
    }

    .headshotCont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;

    }

    .infoTitle {
        font-family: var(--header-font);
        font-size: var(--header-sm-font);
    }

    .infoBody {
        font-family: var(--header-font);
        font-size: var(--header-sub-font);
    }

    .aboutTwoCont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: auto;
    }

    .aboutTwoLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45vw;
        height: 100vh;
        text-align: center;
        color: white;
        background-color: var(--accent-font);
        padding: 5%;
    }

    .aboutTwoRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 55vw;
        height: 100vh;
        padding: 5%;
        text-align: start;
        background: white;
    }

    .aboutTwoRight p {
        font-family: var(--body-font);
        font-size: clamp(var(--body-xsm-font),1.5vw, var(--header-sub-font));
        width: 100%;
    }

    .formCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ACE0F1;
        padding: 60px;
    }
}