@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colorA: #DAD7CD;
    --colorB: #A3B18A;
    --colorC: #588157;
    --colorD: #3A5A40;
    --colorE: #344E41;

    --light-bg: #ABDFF0;
    --dark-bg: #7D60A0;

    --white-font: #ffffff;
    --black-font: #000000;
    --light-font: #DAD7CD;
    --dark-font: #684296;
    --accent-font: #BC79B3;
    --accent-color: #3398C1;

    --hero-font: 64px;
    --header-lg-font: 48px;
    --header-md-font: 40px;
    --header-sm-font: 32px;
    --header-sub-font: 24px;
    --body-lg-font: 28px;
    --body-md-font: 20px;
    --body-sm-font: 16px;
    --body-xsm-font: 14px;

    --font-size-h1: 56px;
    --font-size-h2: 44px;
    --font-size-h3: 32px;
    --font-size-h4: 28px;
    --font-size-blogTitle: 26px;
    --font-size-med: 24px;
    --font-size-mobileNav: 20px;
    --font-size-p: 18px;
    --font-size-small: 14px;
    --font-size-xSmall: 12px;
    
    --header-font: 'Rufina', serif;
    --body-font: 'Oxygen', sans-serif;
}